<h1>
  Gmatters-Audio
</h1>

<hr>

<article>
  <header>
    <h2>
      Build your own flashcard set, use it, and listen to it.
    </h2>
  </header>

  <p class="home-intro">
    Gmatters Audio  lets you choose the questions you want to study and turn them into a flashcard quiz.
    First, you will select the questions you want to include. Then, you can choose to go through the flashcards
    digititally or through audio. Everything is self graded, but Gmatters Audio is designed to be the most efficient
    and convenient way to learn the core concepts you need to answer any GMAT question. At the end, you will see a summary
    of your results.
  </p>

  <p>
    <a href="/questions" class="start-button">Go to question selection</a>
  </p>
</article>
