<h1>
  List of all questions
</h1>

<hr>

<article>
  <header>
    <h2>
      Select your questions to include in your flashcards
    </h2>
  </header>

  <form action="/build_study_set" method="post">
    <table>
      <tr>
        <th>#</th>
        <th>Include?</th>
        <th>Section</th>
        <th>Question</th>
      </tr>

      <% @list_of_questions.each do |a_question| %>
        <tr>
          <td><%= a_question.id %></td>
          <td><input type="checkbox" name="use_question_<%= a_question.id %>" value="yes"></td>
          <td><%= a_question.gmat_section %></td>
          <td><%= a_question.content %></td>
        </tr>
      <% end %>
    </table>

    <button name="destination" value="quiz">Start Flashcards</button>
    <button name="destination" value="audio">Start Audio Flashcards</button>
  </form>
</article>

